# Configuration file for bluetooth_le_scanner

# Duration of Bluetooth scanning in seconds.
# Longer scans improve detection reliability obviously, but
# shorter scans mean that the reports are more regular.
# I wouldn't recommend anything less than 10s
bluetooth_scan_duration=15

# Validity period of device detection in seconds.
# With short durations devices are often missed, so
# only report devices missing if they haven't been
# detected in this long.
bluetooth_expiry_time=60

# Nasty cheap Bluetooth adaptors sometimes stop detecting
# low energy beacons and need resetting.  This is harmless
# to do, but you can set this to as many or few seconds
# as you wish.  Setting it to zero disables resetting the
# adaptor; some work well with this, some do not.  The
# default should be safe and effective for all adaptors
bluetooth_reset_interval=1800

# mqtt details
mqtt_host=localhost
mqtt_port=1883
mqtt_user=mqtt_user
mqtt_password=mqtt_passwd
mqtt_topic=btlescan/$(hostname)

# This is a list of MAC addresses to scan for
# These are also guaranteed to be updated (e.g. on a restart)
# Instead of reporting by MAC address, they are reported as their nickname
nicknames="
AA:AA:AA:AA:AA:AA=sample_beacon
BB:BB:BB:BB:BB:BB=other_sample_beacon
"
