# Configuration file for bluetooth_le_scanner

# Where the scanner's persistent data are stored
dbdir=/var/db/bluetooth_le_scanner

# Duration of Bluetooth scanning in seconds.
# Longer scans improve detection reliability obviously, but
# shorter scans mean that the reports are more regular.
# I wouldn't recommend anything less than 10s
bluetooth_scan_duration=15

# Validity period of device detection in seconds.
# With short durations devices are often missed, so
# only report devices missing if they haven't been
# detected in this long.
bluetooth_expiry_time=60

# mqtt details
mqtt_host=localhost
mqtt_port=1883
mqtt_user=mqtt_user
mqtt_password=mqtt_passwd
mqtt_topic=btlescan/$(hostname)

# This is a list of MAC addresses to scan for
# These are also guaranteed to be updated (e.g. on a restart)
# Instead of reporting by MAC address, they are reported as their nickname
nicknames="
AA:AA:AA:AA:AA:AA=sample_beacon
BB:BB:BB:BB:BB:BB=other_sample_beacon
"
